.title1{
	font-weight:bold;
	text-align:right;
	width:60px;
	font-size:15px;
}
#id_year, #id_subject, #id_level, #id_asgn_year, #id_asgn_subject, #id_asgn_level{
	width:100px;
}
#buttonselect,#buttonprocess{ 
    text-align:center;
    margin-top:5em;
    min-width:100px;
    width:100px;
}
div > .grid_4{
    text-align:center;
}

#asgn_closeness_report ul li {
	list-style: none;
	margin-left: 0px;
}

#asgn_closeness_report ul {
	margin-bottom: 0px;
}

table #asgn_closeness_report {
	width: 100%;
}

div.asgn_closeness_report {
	margin-top: 35px;
}

.grid_8.grid_cls_report {
	margin-left: 250px;
}

.grid_4.alpha.get_cls_report {
	float: right;
}