{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Forgot Password" %}{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.min.js"></script>
<script type='text/javascript'>
    function submitform(){
        document.forms[0].submit();}
</script>
{% endblock %}

{% block content %}
<div class='container_12'>
    <div id='content'>
        <div class='form'>
            <h1>{% trans "Forgot Password" %}</h1>
            <form class="content" action="" method="post">{% csrf_token %}
                <p> 
                <label for="id_username" class="title1">{% trans "Username" %}:</label>
                {{ form.username }}
                {%if form.username.errors %}
                {% for error in form.username.errors %}
                <div class="warning">{{ error }}</div>
                {% endfor %}
                {% endif %}
                </p>
                <p> 
                <label for="id_email" class="title">{% trans "Email" %}:</label>
                {{ form.email }}
                {%if form.email.errors %}
                {% for error in form.email.errors %}
                <div class="warning">{{ error }}</div>
                {% endfor %}
                {% endif %}
                </p>
                <p><a class='blueBtn' href=javascript:submitform() id="signup" >{% trans "Send Email" %}</a></p>
            </form>
        </div>
    </div>
</div>
<div id="messages_div" style="display:none">
    {% if messages %}
    {% for message in messages %}
    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
    {% endfor %}
    {% endif %}
</div>
{% endblock%}
