{% extends "cpm_base.html" %}
{% load i18n %}
{% block title %}{% trans "Student Management" %}{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/datatable_custom.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/student_index.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cpm_student_index.js"></script>

<style>
.styled-select {
   background: #444;
   color:white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px; 
   text-align:left;
   -webkit-appearance: none;
   }
.styled-label {
   
   width: 268px;
   padding: 5px;
   font-size: 16px;
   font-weight:bold;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px; 
   text-align:left;
   -webkit-appearance: none;
   }
</style>
<script>
	$( document ).ready(function() {
		$('#btnStructure').click(function(){
				window.location.href="/student/index/";
		});
		$('#btnMCQ').click(function(){
				window.location.href="/mcq/student/index/";
		});
	
	});
</script>
{% endblock%}

{% block content %}
<div class="container_12">

    <div style="text-align:left;margin:0;float:left;clear:both;">
        <h1 style="float:left">{% trans "(CPM) Assignments Assigned By Teacher" %}</h1>
    </div>

    <div class="grid_12">
<span class="styled-label">{% trans "Exam Type" %}:</span>
	<button id="btnStructure" class="blueBtn">{% trans "Structured Question" %}</button>
	<button id="btnMCQ" class="blueBtn">{% trans "Multiple Choice Question" %}</button>
	<button id="btnCMP" class="greenBtn">{% trans "Cloze Passage Module" %}</button></div>
    <table class="datatable_display" id="assignments">
        <thead>
            <tr>
                <th width="20%">{% trans "Assignment/Paper" %}</th>
                <th width="20%">{% trans "Test_Due" %}</th>
                <th width="10%">{% trans "Teacher" %}</th>
                <th width="25%">{% trans "Description" %}</th>
                <th width="10%">{% trans "Status" %}</th>
                <th width="15%">{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

 

<div style="margin:1em auto;">
    <table width=940><tbody><tr>
        <td width="33%">
            <a class="blueBtn" style="margin:0 2em 0 0;float:right;" href="{% url info_modify %}">{% trans "USER PROFILE" %}</a>
        </td>
        <td width="33%" >
            <a class="blueBtn" style="margin:0 0 0 2em;float:left;" href="{% url cpm_report_student %}">{% trans "REPORT" %}</a>
        </td>
    </tr></tbody></table>
</div>

</div>
<div style='display:none;'  id="dialog-warning" title="Assignment Due Warning">
    {% if messages %}
    {% for message in messages %}
    <p>{{ message|safe }}</p>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
{% block tail %}
<script type="text/javascript" src="{{ STATIC_URL }}js/mcq_student_index.js"></script>
{% endblock%}
