{% extends "mcq_base.html" %}
{% load i18n %}
{% block title %}{% trans "Option List Detail" %}{% endblock%}
{% block head %}



<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/datatable_custom.css">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/mcq_question_detail.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/nyroModal.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/select2.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/mathquill_editor.css " />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/mathquill_editor_sci.css " />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.23.custom.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nyroModal.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.json-2.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nyroModal.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfupload/swfupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfupload/fileprogress.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/optionlist_handlers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/django.csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/select2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/intemass.util.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mathquill_editor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mathquill_editor_sci.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor/ckeditor.adapter.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mcq_optionlist_detail.js"></script>
<script type="text/javascript">
    var add_question_url='{% url mcq_question_add %}';
    var csrfvalue='{{ csrf_token }}';
</script>
<style>
	#content{
		width:900px;
	}

	.qupload_div {
	    /* width: 180px; */
	    float: right;
	}
	#cke_optionlist_option{
    float:left;
}
#content .form1 {
    text-align: center;
    margin: 0 auto 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff url(../images/long_form_bg.gif) repeat-x;
    -webkit-box-shadow: 0px 1px 2px #888;
    -moz-box-shadow: 0px 1px 2px #888;
    box-shadow: 0 1px 2px #888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: auto;
    color: #333;
    text-shadow: 0 1px 0 white;
    font-size: 16px;
    background-position: center;
    behavior: url(./PIE.htc);
}

.tablelist label{
	text-align:right;
}
</style>
{% endblock %}

{% block content %}

<div class=" ">

	<div id="content" style="min-height:220px;height:1100px;width:1200px;">
		<div class="form1" style="height:1100px;width:1200px;">
			<table style="width:1200px;">
				<tr>
					<td style="font-size:25px;text-weight:bold;">{% trans "(MCQ) Option List Detail" %}</td>
				</tr>
				<tr>
					<td><button id="btnSave" class="blueBtn">Save</button><button id="btnReturn" onclick="window.history.back();" class="blueBtn">Return</button></td>
				</tr>
			</table>
			<p></p>
			<p style="padding:5px;border:solid 1px black;width:100%;"></p>
			<table> 
				<tr>
					<td>
					<table  style="width:100%;"  class="tablelist">
						<tr>
						<td  style="width:30%;"><label for="optionlist_id">{% trans "Option List ID :" %}</label></td>
						<td style="width:30%;" ><select style="width:100%;"  id="optionlist_id">
						<option value='-1'>{% trans "New Option" %}</option>
						{% for optionlst1 in optionlisting %}  
						<option value="{{ optionlst1.id }}"  {% if optionlst1.id == optionlst.id %} selected='true' {% endif %}  >{{ optionlst1.opl_name }}</option>
						{% endfor %}
						</select></td>
						</tr>
						<tr>
						<td><label for="optionlist_name">{% trans "Option List Name:" %}</label></td>
						<td><span id="optionlist_name" type="text" width="100" maxlength="100" class="editable">{{ optionlst.opl_name }}</span></td>
						</tr>
						<tr>

						<td><label for="optionlist_correct" >{% trans "is correct:  the correct value "%}{{   optionlst.opl_iscorrect }}</label></td>
						<td><input  style="width:100%;" type="radio" name="optionlist_correct"  {% if optionlst.opl_iscorrect  %} checked {% endif %}  value="True" >{% trans "Correct"%}</input>
						<input type="radio" style="width:100%;"  name="optionlist_correct"  {% if not optionlst.opl_iscorrect  %} checked {% endif %}  value="False">{% trans "Incorrect"%}</input></td>
						</tr>
						<tr>
						<td><label for="optionlist_description" >{% trans "Description:" %}</label></td>
						<td><textarea  style="width:100%;" id="optionlist_description" cols='30' rows='7' type="text" >{{ optionlst.opl_description }}</textarea></td>
						</tr>
						<tr>
						<td><label for="option_canvas" >{% trans "Option Graph:" %}</label></td>
						<td>
						<a id="option_canvas" style="width: 43px; height: 16px;" class="populate greenBtn" href="#">{% trans "Graph" %}</a>
						</td>
						</tr>
						<tr>
						<td><label for="optionlist_option" >{% trans "Option:" %}</label></td>
						<td> <textarea   id="optionlist_option"  >{{ optionlst.opl_option }}</textarea></td>
						</tr>
						
					</table> 
					</td>
					<td>
						<div class="qupload_div" >
							<h4 class="ui-widget-header" id="choose_some_images_1">{% trans "Choose some images" %}</h4>
							<div class="fieldset flash" id="fsUploadProgress">
								<span class="legend"></span>
							</div>
								<!--<div id="divStatus">0 Files Uploaded</div>-->
							<div style="margin:1em 0 1em 0;">
								<span id="qupload"></span>
								<a id="btnCancel" class="btnCancel" href="javaScript:swfu.cancelQueue();">{% trans "Cancel" %}</a>
							</div>
							<h4 class="ui-widget-header">{% trans "Uploaded Images" %}</h4>
							<div id="thumbnails" class="ui-widget-content ui-state-default">
								<ul class="gallery ui-helper-reset ui-helper-clearfix"> </ul>
							</div>
						</div>
					</td>
				</tr>
			</table>

		</div>
	</div>

</div>


<div style='display:none;'  id="dialog-confirm" title="Are you sure?">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You will delete this question.</p>
</div>
<div style='display:none;' id="dialog-add-error" title="Add Record">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{% blocktrans %}Do not use "New Option" as your new name, please use other.{% endblocktrans %}</p>
</div>
{% endblock %}
