#id_subject{
	width:80px;
}

#id_paper{
	width:80px;
}

#id_student{
	width:80px;
}
#cke_answer_editor{
    top:-5px;
}

#cke_question_editor{
    top:-5px;
}

#assignmenthead label{
    font-weight:bold;
}

.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li h6 { margin: 0 0 0.4em; cursor: move; }
.gallery li a { float: right; }
.gallery li a.ui-icon-zoomin { float: left; }
.gallery li img { width: 100%; cursor: move; }


#question_diagrams { 
    width: 238px; 
    padding: 1%;
    min-height: 500px;
} 
* html #question_diagrams{
    height:500px;
}
#questionthumbnails{
    height:550px;
    overflow-x:hidden;
    overflow-y:auto;
}
#questionthumbnails_header { 
    line-height: 32px;
    margin:0;
    width:232px;
    padding:0 5px;
}

#correct_diagrams { 
    width: 238px; 
    padding: 1%;
    min-height: 510px;
    overflow-x:hidden;
    overflow-y:auto;
}
* html #correct_diagrams{
    height:510px;
}

#stdthumbnails{
    height:550px;
    overflow-x:hidden;
    overflow-y:auto;
}
#stdthumbnails_header { 
    line-height: 32px;
    margin:0;
    width:232px;
    padding:0 5px;
}

#selected_diagrams { 
    width: 238px; 
    padding: 1%;
    min-height: 500px;
} 
* html #selected_diagrams{
    height:500px;
}

#stuthumbnails{
    height:510px;
    overflow-x:hidden;
    overflow-y:auto;
}
#stuthumbnails_header { 
    line-height: 32px;
    margin:0;
    width:232px;
    padding:0 5px;
}
#selected_header { 
    line-height: 32px;
    margin:0;
    width:232px;
    padding: 0 5px;
}
body .cke_show_borders p {
	font-size: 24px;
}

.ui-progressbar .ui-progressbar-value { background-image: url(../images/pbar-ani.gif); }

.ui-dialog-titlebar-close{
	 display: none;
 }
