div#zTreeBackground {width:220px;height:320px;text-align:left;margin-left:-1em;padding:0 30px 0 10px;float:left;}
span#zTreeHeader {
    margin-left:-16px;
    display:block;
    width:205px;
    height:25px;
    text-align:left;
    padding:5px 12px 0 15px;
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
span#zTreeFooter {
    margin-left:-16px;
    display:block;
    width:215px;
    height:20px;
    text-align:right;
    font-size:12px;
    padding:0px 12px 0 5px;
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
ul.ztree {
    margin-top: 0px;
    margin-left:-16px;
    color:#808080;
    background: #FCFCFC;
    border: 1px solid #CACACA;
    width:220px;
    height:300px;
    overflow-y:auto;
    overflow-x:auto;
    font: 11px/30px Arial,Helvetica,sans-serif;
}
ul.log {border: 1px solid #617775;background: #f0f6e4;width:300px;height:170px;overflow: hidden;}
ul.log.small {height:45px;}
ul.log li {color: #666666;list-style: none;padding-left: 10px;}
ul.log li.dark {background-color: #E3E3E3;}
